@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --max-width: 1080px;
  --primary-color: #272E3F;
  --secondary-color: #232939;
  --background-color: #1A1F2A;
  --accent-color: #0086E6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}

html, body {
  background-color: var(--background-color);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 2rem;
  padding-inline: 1rem;
}

.search-container {
  max-width: var(--max-width);
  width: 100%;
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.search-container input {
  width: 100%;
  max-width: 640px;
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
  border: none;

  background-color: var(--primary-color);
  color: white;
}

.search-container input::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

.search-container button {
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
  border: none;

  background-color: var(--accent-color);
  color: white;

  cursor: pointer;
}

.current-weather {
  max-width: var(--max-width);
  width: 100%;
  padding: 3.5rem;

  display: grid;
  grid-template-columns: 6fr 2fr;

  background-color: var(--secondary-color);
  color: white;
  border-radius: 1.5rem;

  height: 300px;
}

.current-weather .weather-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.current-weather .weather-date {
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
}

.current-weather .weather-city {
  font-size: 2.625rem;
  color: rgba(255, 255, 255, 1);
  line-height: 1.25;
}

.current-weather .weather-time {
  font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);
}

.current-weather .weather-data-section-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  gap: 4rem;
}

.current-weather .weather-temp {
  line-height: 1;
  font-size: 4rem;
  color: rgba(255, 255, 255, 1);
}

.current-weather .weather-additional-info-container .value {
  font-size: 1.25rem;
  color: rgba(255, 255, 255, 1);
}

.current-weather .weather-additional-info-container .label {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.weather-icon-container {
  position: relative;
  width: 180px;
  height: 180px;
}

.weather-icon-container .weather-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
  image-rendering: pixelated;
}

.forecast-weather {
  max-width: var(--max-width);
  width: 100%;
  padding: 1.25rem;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;

  background-color: var(--primary-color);
  color: white;
  border-radius: 1.5rem;
}

.forecast-weather-item {
  background-color: var(--secondary-color);
  padding: 1.25rem;
  border-radius: 1rem;
}

.forecast-weahter-section-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.forecast-weather-icon {
  height: 80px;
  width: 80px;
}

.forecast-weather-item .forecast-weather-date {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.5);
}

.forecast-weather-item .forecast-weather-temp {
  font-size: 2rem;
  color: rgba(255, 255, 255, 1);
}

.forecast-weahter-section-2 .value {
  font-size: 1rem;
  color: rgba(255, 255, 255, 1);
}

.forecast-weahter-section-2 .label {
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.5);
}

.forecast-weather-item .forecast-weahter-section-2:last-child {
  margin-top: 0.75rem;
}

.forecast-weather-placeholder {
  color: rgba(255, 255, 255, 0.5);
  grid-column: span 4;
}

@media (max-width: 940px) {
  .current-weather {
    /* grid-template-columns: 1fr; */
    height: auto;
    padding: 2rem;
  }

  .current-weather .weather-data-section-2 {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  .weather-icon-container {
    /* display: none; */
    height: 150px;
    width: 150px;
    image-rendering: initial;
  }

  .forecast-weather {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .forecast-weather {
    grid-template-columns: 1fr;
  }

  .weather-icon-container {
    height: 80px;
    width: 80px;
  }
}

@media (max-width: 365px) {
  .weather-icon-container {
    display: none;
  }
}