@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');

:root {
  --color-primary: #081C15;
  --color-secondary: #1B4332;
  --color-primary-light: #D8F3DC;

  --padding-inline: 4rem;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  background: #D8F3DC;
  background: linear-gradient(160deg,rgba(216, 243, 220, 1) 1%, rgba(183, 228, 199, 1) 100%);
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*grid-column-gap: 7rem;*/
}

header {
  grid-column: 1 / -1;
  padding-inline: var(--padding-inline);
  height: 14rem;
  display: flex;
  align-items: center;
  box-shadow: .5rem .25rem .25rem rgba(0, 0, 0, 0.1);
  background-color: #74C69D;
  background-image: url("https://aws-obg-image-lb-1.tcl.com/content/dam/brandsite/global/image-for-blog-guide/choosing-a-quiet-refrigerator-pc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;

  z-index: 999;
}

hr {
  border: none;
    border-bottom: 1px dotted var(--color-primary);
    /*height: 1px;*/
    background-color: #74C69D;
}

h1, h2, h3, p, li {
  color: var(--color-primary);
  font-family: "Bricolage Grotesque", sans-serif;
}

h2 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

h3 {
  margin-top: 1.5rem !important;
  font-style: italic;
}

p, li {
  color: var(--color-secondary) !important;
}

h1 {
  font-size: 2.5rem;
  color: var(--color-primary-light);
}

h2 {
  font-size: 1.75rem;
}

p {
  text-align: justify;
  line-height: 140%;
}

.section_2 {
  background-color: #B7E4C7;
}

.section_1, .section_2 {
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  padding-inline: var(--padding-inline);
}

.img1_1 {
  width: 100%;
  border-radius: .5rem;
  margin-top: .5rem;
}

.img1_2, .img1_3 {
  width: 100%;
  height: 10rem;
  border-radius: .5rem;
  object-fit: cover;
  margin-top: .5rem;
}

footer {
  background-color: #081C15;
  grid-column: 1 / -1;
}

footer p {
  text-align: center;
  color: var(--color-primary-light) !important;
}

.img2_1 {
  width: 100%;
  height: 8rem;
  object-fit: cover;
  border-radius: .5rem;

  margin-top: 1.5rem !important;
}

.section_2 h2 {
  margin-top: 1.5rem !important;
}

.participantos {
  list-style: none;
  padding-inline: 1.5rem;
}

.participantos > * {
    padding-bottom: .5rem;
    padding-top: .5rem;
    border-bottom: 1px dotted var(--color-primary);
}

.participantos > *:last-child {
  border-bottom: none;
}

.winners {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  list-style: none;
  padding: 0;
}

.winners > * {
  height: fit-content;
  width: 100%;
  background-color: #D8F3DC;
  border-radius: .5rem;
  overflow: hidden;
}

.winners .li1 {
  border-bottom: .5rem solid #FFBF00;
}

.winners .li2 {
  border-bottom: .5rem solid #C0C0C0;
}

.winners .li3 {
  border-bottom: .5rem solid #977547;
}

.winners li img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

.winners li p {
  text-align: center;
}

.winners li p.miejsce {
  font-size: .75rem;
  font-style: italic;
  margin-bottom: 1.25rem;
}

@media (max-width: 768px) {
  :root {
    --padding-inline: 2rem;
  }

  main {
    grid-template-columns: 1fr;
  }

  header {
    background-position: center center;
  }

  .winners {
    grid-template-columns: 1fr;
  }
}